footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: antiquewhite;
    padding: 3vw 0;
}

.footer-btn {
    margin: 0 5vw;
    width: 40vw;
    font-size: 20vw;
    background-color: brown;
    color: antiquewhite;
    border-radius: 10px;
}

.footer-reset-btn>span {
    transform: rotate(45deg);
    display: inline-block;
}