main {
    padding: 3vw;
}

main .main__number {
    background-color: rgba(255, 255, 255, .6);
    padding: 3vw;
    margin-bottom: 5px;
    color: brown;
    font-weight: 700;
    border-radius: 5px;
}